<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Aracınızın secure gateway kartına (FOTA_ESP32) bağlanmak ve telemetri/OTA komutları göndermek için Bluetooth erişimi gereklidir.</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>Aracınızın secure gateway kartına bağlanmak için Bluetooth erişimi gereklidir.</string>
    <key>NSCameraUsageDescription</key>
    <string>Araç fotoğrafı çekebilmek için kameraya erişim gereklidir.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Galeriden araç fotoğrafı seçebilmek için fotoğraflara erişim gereklidir.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>bluetooth-central</string>
    </array>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
</dict>
</plist>
